.grid {
  position: absolute;
  width: 1120px;
  height: 500px;
  border: solid purple 2px;
}

.block {
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: darkorange;
  border-radius: 5px;
  border: solid black 1px;
}
.user {
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: rgb(13, 6, 75);
  border-radius: 5px;
  border: solid black 1px;
}
.ball {
    position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(253, 2, 2);
  border-radius: 50px;
  border: solid black 1px;
}
